.hero {
  display: grid;
  align-items: center;
  gap: 100px 50px;
  padding-top: 70px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;

    @include decor(212, 150);
  }

  @include desktop {
    grid-template-columns: 1fr 704px;
  }
}

.hero__heading {
  margin: 0 0 14px;
}

.hero__lead {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  font-family: $font-poppins;
}

.hero__text {
  margin: 0 0 50px;
  font-size: 18px;
  line-height: 30px;
  color: $color-dark-gray;
}

.hero__image {
  margin: 0;
}
