.works {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: $color-light-gray;
}

.works__lead {
  margin: 0 0 90px;
  text-align: center;
}

.works__list {
  display: grid;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
}

.works__item {
  @include tablet {
    position: relative;
    z-index: 1;

    &:nth-child(2n) {
      padding-top: 90px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 90px;
      right: 0;
      left: 0;
      z-index: -1;
      height: 90px;
      color: $color-gray;
      border-top: 1px solid;
      border-right: 1px solid;
    }

    &:nth-child(2n)::before {
      border-top: none;
      border-bottom: 1px solid;
    }

    &:nth-child(4n)::before {
      right: 50%;
    }

    &:nth-child(4n+1)::before {
      left: 50%;
    }
  }
}

.works__card {
  width: 145px;
  margin: 0 auto;
  padding: 45px 20px;
  text-align: center;
  background-color: $color-white;
  border-radius: 40px 0;
  box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.1);
}

.works__key {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: $color-dark-gray;
}

.works__value {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
