$color-blacky: #212121;
$color-dark-gray: #646464;
$color-darker-gray: #c4c4c4;
$color-medium-gray: #d5d5d5;
$color-gray: #e0e0e0;
$color-lighter-gray: #eeeeee;
$color-light-gray: #f8f8f8;
$color-white: #ffffff;
$color-brown: #caa892;
$color-red: #b33b57;
$color-green: #37806B;

$font-poppins: "Poppins", sans-serif;
